<!DOCTYPE html>
<html>
  <head>
  <meta property="og:title" content="Poll Classroom" />
     <meta property='og:image' content="<%= image_url('front_page.png') %>"/>
     <meta property="og:description"
       content="Poll Classroom, a website where users can create questions and share them online."
     />
     <meta property="og:url"
       content="https://poll-aa.herokuapp.com/"
     />
     
    <script src="https://kit.fontawesome.com/6c3d630a68.js" crossorigin="anonymous"></script>
    <title>PEClass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  
  <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
  <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
