<!DOCTYPE html>
<html>
  <head>
    <script src="https://kit.fontawesome.com/6c3d630a68.js" crossorigin="anonymous"></script>
    <title>PEClass</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

  
  <% if logged_in? %>
  <script type="text/javascript">
      window.currentUser =
        <%= render("api/users/user.json.jbuilder", user: current_user).html_safe %>
  </script>
  <% end %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
